*{
    box-sizing: border-box;
}

.hide{
    overflow: hidden;
}

.pos-rel{
    position: relative;
    padding-bottom: 10rem;
}

.mot {
flex-direction: column;
font-size: 3.3rem;
line-height: 2.7rem;
color: #f2630a;
font-weight: bold;
}

.p1 {
color: #ea900a;
}

.ideal-place {
font-size: 0.8rem;
line-height: 3rem;
}

.main-button {
    padding: 0.3rem 1.2rem;
    border-radius: 1.5rem;
    border-color: #f47b31;
    background: white;
    border-width: 1px;
    color: #f2630a;
}

.img-header{
    background-image:url(/files/bg.jpg);
    height:28rem;
    background-position: center center;
    background-size: cover;
}

.search-box{
    position: absolute;
    box-shadow: 1px 1px 1px 1px rgb(33, 32, 32); 
    width: 50rem;
    z-index: 5;
    bottom: 7rem;
    right: 19rem;
}

.prices{
    width:80%;
    margin: 0 auto;
}

.prices-2{
    height:20rem;
    margin-left: 10rem;
}

.bg-orange{
    background: orange;
}

.about{
    width:70%;
    margin: 10rem auto 7rem;
}

.about-us{
    width:60%;
    margin: 0 auto;
}

.fs-2{
    font-size: 2rem;
}

.pesho{
    width:80%;
    margin:0 auto;
    border:1px solid black;
}

.footer-info{
    width:70%;
    margin: 3rem auto 0;
}

.fs-08{
    font-size: 0.8rem;
}

.fs-15{
    font-size: 1.5rem;
}